OLLAMA_API_ENDPOINT=http://localhost:11434
OLLAMA_MODEL=nomic-embed-text
EXTERNAL_PDF_EXTRACTION_SERVICE=false
GROBID_SERVER_URL_OR_EXTERNAL_SERVICE=http://localhost:8070
BIOPORTAL_API_KEY=YOUR_API_KEY
MAX_CONCEPT_MAPPING_RESULTS=2
CREWAI_TRACING_ENABLED=false
CREWAI_DISABLE_TELEMETRY=true
CREWAI_DISABLE_TRACING=true
CREWAI_TELEMETRY=false
OTEL_SDK_DISABLED=true
ENABLE_HUMAN_FEEDBACK=false
ENABLE_CREW_MEMORY=false